#myNav {
    background-color: #eceeef;
    padding: 10px;
}

#title {
    display: inline;
    margin: 0 auto auto;
    font-size: xx-large;
    color: #292b2c;
    text-decoration: none;
    font-family: "明兰", sans-serif;
}

#search > * {
    float: right;
    margin-top: 5px;
}

#footer {
    text-align: center;
    margin: 10px;
    line-height: 1em;
}
