#myNav {
    background-color: #eceeef;
    padding: 10px;
}

#nav {
    float: right;
}

.nav-text {
    color: #292b2c;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

#title {
    display: inline;
    margin: 0 auto auto;
    font-size: xx-large;
    color: #292b2c;
    text-decoration: none;
    font-family: "明兰", sans-serif;
}

#footer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 0.5em;
}
